[Unit]
Description=CephFs Docker VolumeDriver Plugin
Wants=docker.service
Before=docker.service

[Service]
ExecStart=/root/docker-volume-cephfs
Restart=on-failure
# NOTE: this kill is not synchronous as recommended by systemd *shrug*
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
